   <div class="container">
        <div class="jumbotron">
            <h1>New York Times II</h1>
            <h2>
                <i>Web Scraping Recently Posted New York Times Articles</i>
            </h2>
            <img src="/images/nyt.jpg">
        </div>
        <h1>Have an opinion that just NEEDS to be shared? Click an article to leave a comment.</h1>

            <div id="articles"></div>
            <div id="notes"></div>
       
    
    </div>